<header>
    <div class="row">
        <div class="col">
                <!--<fa name="home"></fa>
                <a class="float-left" routerLink="/">Share my <img src="../assets/img/orcid_scalable.svg" width="18" alt="iD"></a>
                <a class="float-right" href="//orcid.org/about" target="_blank" rel="noopener noreferrer">About ORCID</a>-->
                <div class="row">
                    <div class="col text-center">
                        <a routerLink="/"><h1><img class="share-id-icon" src="../assets/img/share-id-icon.svg" alt="Share iD icon"> Share My ORCID iD</h1></a>
                        <p class="lead">A simple way to collect authenticated ORCID iDs</p>
                    </div>
                </div>
        </div>
    </div>
</header>

