<footer class="fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="float-left">
                    <a href="//orcid.org" target="_blank" rel="noopener noreferrer"><img src="../assets/img/orcid-logo.svg" width="100" alt="ORCID logo"></a>
                    <p>&copy; 2017 ORCID, Inc</p>
                </div>
               <div class="float-right"> 
                    <p>Pretty cool, right? <a routerLink="/">Create your own iD collection now</a></p>
                    <p><a href="https://github.com/ORCID/share-my-id" target="_blank" rel="noopener noreferrer"><fa name="github"></fa></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

