<footer>
    <div class="row">
        <div class="col">
            <div>
                <a href="//orcid.org" target="_blank" rel="noopener noreferrer"><img src="../assets/img/orcid-logo.svg" width="100" alt="ORCID logo"></a>
                <ul class="list-inline">
                    <li class="list-inline-item">&copy; 2017 ORCID, Inc</li>
                    <li class="list-inline-item"><a href="//orcid.org/legal" target="_blank" rel="noopener noreferrer">Terms of use</a></li> 
                    <li class="list-inline-item"><a href="//orcid.org/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy policy</a></li> 
                </ul>
            </div>
        </div>
    </div>
</footer>

