@import '../../variables';
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

footer {
    background-color: $orcidgraydk;
    color: $white;
    padding: .5rem 0;
    //order-top: 1px solid #5b5c5d;

    img {
        float: left;
        margin-right: 1rem;
    }

    p {
        color: $gray97;
        font: .8rem $font-stack;
        float: left;
        line-height: 32px;
        margin: 0;
        padding: 0;
        vertical-align: bottom;
    }

    fa {
        color: $gray97;
        font-size: 1.4rem;
        margin-left: 2rem; 

        &:hover{
            color: $orcidgreen;
        }
    }

    .footer-left{
        float: left;
    }

    .footer-right{
        float: right;
    }

    @include media-breakpoint-down(sm) {
        .footer-right {
            clear: left;
            float: left;
    }
}
}

