<footer>
    <div class="row">
        <div class="col">
            <div class="footer-left">
                <a href="//orcid.org" target="_blank" rel="noopener noreferrer"><img src="../assets/img/orcid-logo.svg" width="100" alt="ORCID logo"></a>
                <p>&copy; 2017 ORCID, Inc</p>
            </div>
            <div class="footer-right"> 
                <p>Pretty cool, right? <a routerLink="/">Create your own iD collection now</a></p>
            </div>
        </div>
    </div>
</footer>

