<div 
    *ngIf="collections"
>
    <div class="row justify-content-center">
        <div class="col col-lg-7 text-center">    
            <div class="card">
                <div class="card-block">
                    <h1 class="mb-3">Thanks!</h1>
                    <p class="mb-5">We've added your ORCID iD
                    <br /><a href="{{userFullOrcidId}}" target="_blank" rel="noopener noreferrer"><img src="../assets/img/id-icon.svg" width="16" alt="ORCID iD icon" class="id-icon"><span class="font-weight-bold">{{userFullOrcidId}}</span></a>
                    <br />to {{collections.form.title}}</p>
                    <p>
                        <a routerLink="/{{publicKey}}" class="btn btn-primary">Close</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>