<header>
    <div class="container">
        <div class="row">
            <nav class="col">
                <p>
                    <a routerLink="/" routerLinkActive="active">Home</a>
                </p>
                <p>
                    <a routerLink="/create-collection" routerLinkActive="active">create-collection</a>
                </p>
                <p>
                    <a routerLink="/asfg/edit-collection/1234" routerLinkActive="active">edit-collection</a>
                </p>
            </nav>
        </div>
    </div>
</header>

