
<!-- Header here -->
<app-header></app-header>

<div class="container">
    <!-- Content here -->
    <p>
        <a routerLink="/create-collection" routerLinkActive="active">create-collection</a>
    </p>
    <p>
        <a routerLink="/asfg/edit-collection/1234" routerLinkActive="active">edit-collection</a>
    </p>
    <p>
        <a routerLink="/edit-collection/1234" routerLinkActive="active">edit-collection wrong 1</a>
    </p>
    <p>
        <a routerLink="/asfg/edit-collection" routerLinkActive="active">edit-collection wrong 2</a>
    </p>
    <router-outlet></router-outlet>
</div>

<!-- Footer here -->
<app-footer></app-footer>