<div class="row justify-content-center">
    <div class="col col-lg-7 text-center">    
        <div class="card">
            <div class="card-block">
                <h1 class="mb-5">Sorry, 
                <br />
                we couldn't add
                <br />your iD</h1>
                <p class="mb-3">Since you clicked Deny on the last screen, 
                <br />we couldn't add your iD to this collection.</p>
                <p>
                	<button (click)="authenticate()" class="btn btn-primary">Try again</button>
                	<a routerLink="/{{publicKey}}" class="btn btn-secondary">Close</a>
                </p>
            </div>
        </div>
    </div>
</div>