
		<div class="footer">
	        Get the code & learn how to deploy this example locally at: <a https://github.com/ORCID/orcid-id-to-gdoc" target="_blank">github.com/ORCID/orcid-id-to-gdoc</a>
	    </div>
	</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>