      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Manuscript Submission</a></li>
          <li><a href="http://orcid.org" target="_blank">Journal Home</a></li>
          <li><a href="https://orcid.org/help/contact-us" target="_blank">Help</a></li>
        </ul>
        <img src="img/pub-pals.svg" alt="Publisher Pals" width="200px" />
      </div>
      <hr>