<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-block">
                <h2>Email</h2>
                <form class="form-inline"
                #formRefEmail="ngForm" 
                (ngSubmit)="submitEmail(formRefEmail.value)" 
                novalidate>
                    <label class="sr-only" for="email">Email</label>
                    <input 
                        [(ngModel)]="email"
                        #emailRef="ngModel" 
                        autocomplete="off"
                        class="form-control col-lg-5 col-md-7 mb-2 mb-sm-0 mr-sm-2 " 
                        id="email" 
                        name="email" 
                        placeholder="Email" 
                        type="email" 
                        required
                    >
                    <button 
    
                    class="btn btn-primary mt-0" 
                    type="submit" 
                    role="button"
                    >
                        <fa  name="envelope-o"></fa>
                        Send links
                    </button>                                     
                </form>
                    <p (click)="showEmailErrorMessage = !showEmailErrorMessage" *ngIf="showEmailErrorMessage && formEmailSubmitted" class="text-danger"><strong>Uh oh, email not sent!</strong> Check the address and try again.</p>
                    <p (click)="showEmailSuccessMessage = !showEmailSuccessMessage" *ngIf="showEmailSuccessMessage && formRefEmail.valid  && formEmailSubmitted" class="text-success"><strong>Success!</strong> Links sent to {{email}}</p>
            </div>
        </div>
    </div>
</div>