body {
  background: #fff;
  //font-family: 'Noto Sans', Helvetica, Sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #338caf;
}

a:hover, .jumbotron a:hover {
  text-decoration: none;
  color: #A6CE39;
}

.container {
  margin: 3em auto;
  background: #fff;
} 

.jumbotron {
  text-align: center;
  padding: 0 2em;
  background: #fff;
}

.jumbotron h1 {
  //font-size: 9em;
  font-size: 6vw;
  text-transform: uppercase;
  color: #338caf;
  margin:0;
  //font-weight: bold;
  font-family: 'Covered By Your Grace', cursive;
}

.jumbotron p {
  color: #494A4C;
  margin: 1em 3em;
}

.jumbotron a {
  color: #338caf;
  margin: 1.4em 0;
  font-size: 1.2em;
}

.jumbotron .btn {
  font-size: 1.2em;
  padding: 1em 2em;
  background: #338caf;
  border-color: #338caf;
  color: #fff;
}

.jumbotron .btn:hover {
  background: #A6CE39;
  border-color: #A6CE39;
  color: #fff;
}

/*#orcid-button{
  background: #000;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  width: 30%;
  margin: 0 auto;
  padding: 0;
}*/

#share-button{
  background: #338caf;
  border-radius: 6em;
  -moz-border-radius: 6em;
  -webkit-border-radius: 6em;
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: .5em;
  font-size: 6vw;
  //font-weight: bold;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(119,119,119,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(119,119,119,1);
  box-shadow: 0px 0px 10px 0px rgba(119,119,119,1);
}


#id-icon:hover{
  /* IE 8-9 */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
  /* IE 5-7 */
  filter: alpha(opacity=80); 
  /* Modern Browsers */
  opacity: 0.8;
}

/*ORCID iD button*/
#id-icon img:hover{
  opacity: 0.5;
}
/*Share info checkbox*/
.checkbox label{
  color: #338caf;
  font-size: .9em;
  margin-bottom: 1em;
  text-align: left;
}

.label-text{
  display: block;
  margin-left: 1.8em;
}

.checkbox label:after{
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr{
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox .cr .cr-icon{
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"]{
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon{
    display: none;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
    display: inline;
}

.redirect p{
  font-size: 1.8em;
  margin-bottom: 1em;
}

.footer{
  text-align: center;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .jumbotron p {
    margin: 1em 2em;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .jumbotron p {
    margin: 1em 3em;
  }

  #orcid-button{
    width: 40%;
  } 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .jumbotron p {
    margin: 1em 0;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .jumbotron p {
    font-size: .9em;
    margin: .5em 0;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  .jumbotron h1 {
    font-size: 4em;
    margin: 0;
  }

  .jumbotron p {
    font-size: 1em;
    margin: .5em 0;
  }

  #orcid-button{
    width: 60%;
  }
}
