<div class="row">
    <div class="col">
        <h2>Collection Links</h2>
        <p>Hold onto these!</p>
        <ul>
            <li>
                <p class="bold">Administration Link</p>
                <p>Use this link to edit collection details</p>
                <p><a href="http://www.google.com">http://www.google.com</a></p>
            </li>
            <li>
                <p class="bold">Administration Link</p>
                <p>Use this link to edit collection details</p>
                <p><a href="http://www.google.com">http://www.google.com</a></p>
            </li>
            <li>
                <p class="bold">Administration Link</p>
                <p>Use this link to edit collection details</p>
                <p><a href="http://www.google.com">http://www.google.com</a></p>
            </li>
        </ul>
    </div>
</div>