<div class="row">
    <div class="col">    
        <div class="card">
            <div class="card-block">
                <div *ngIf="collections">
                    <div class="text-center">
                        <p><i>You've been invited to add your ORCID iD to the collection:</i></p>
                        <div class="card">
                            <div class="card-block">
                                <h2>{{collections.form.title}}</h2>
                                <p><i>Created by <span *ngIf="collections.owner.name">{{collections.owner.name}}, </span><a href="{{collections.owner.fullOrcidId}}" target="_blank" rel="noopener noreferrer"> <img src="../assets/img/id-icon.svg" width="16" alt="ORCID iD icon" class="id-icon">{{collections.owner.fullOrcidId}}</a> on {{collections.created | date: 'yyyy-MM-dd'}}</i></p>
                                <p>{{collections.form.description}}</p>

                                <button (click)="authenticate()" class="btn btn-primary lg-btn">Add my iD</button>
                            </div>
                        </div>
                        
                        <p><small><strong>Don't have an ORCID iD?</strong> Register for an iD and add it to this collection at the same time: Click 'Add my iD' above, then 'Register now' on the next screen.<br>Not familiar with ORCID? <a href="//orcid.org/about" target="_blank" rel="noopener noreferrer">Learn more</a></small></p>
                            
                    </div> 
                    <div class="table-responsive">
                        <table 
                            *ngIf="collections.authenticated_orcids.length > 0" 
                            class="table text-left"
                        >
                            <thead class="thead-default">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>ORCID iD</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let authenticated_orcid of collections.authenticated_orcids; let j = index"
                                    [attr.data-index]="j"
                                >
                                    <th scope="row">{{j+1}}</th>
                                    <td>{{authenticated_orcid.name}}</td>
                                    <td><a href="{{authenticated_orcid.fullOrcidId}}" target="_blank" rel="noopener noreferrer"> <img src="../assets/img/id-icon.svg" width="16" alt="ORCID iD icon" class="id-icon">{{authenticated_orcid.fullOrcidId}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    <div 
                        *ngIf="collections" 
                        class="row"
                    >
                        <div class="col">
                            <button (click)="authenticate()" class="btn btn-primary float-left">Add my iD</button>
                            <p class="float-right text-right link-style"><small><a href="{{windowLocationOrigin}}/{{publicKey}}/details/download"><fa  name="download"></fa> Download plain text</a></small></p>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</div>