<div class="container">
    <div class="row">
        <div class="col">
        <h1><img class="share-id-icon" src="../assets/img/share-id-icon.svg" alt="Share iD icon"> Share your ORCID iD</h1>
        <!--<p class="lead">A simple way to collect authenticated ORCID iDs</p>-->
        <p class="lead">You've been invited to add your ORCID iD to the collection:</p>
        </div>
    </div>
    <div class="row">
        <div class="col">    
        <div class="card">
            <div class="card-block">
            <div *ngIf="collections">
                <h2>{{collections.form.title}}</h2>
                <p><i>Created by <a href="{{collections.owner.fullOrcidId}}" target="_blank">{{collections.owner.name}}</a> on {{collections.created | date: 'yyyy-MM-dd'}}</i></p>
                <p>{{collections.form.description}}</p>
                <button (click)="authenticate()" class="btn btn-primary">Add my iD</button> 
                <div class="table-responsive">
                            <table 
                                *ngIf="collections.authenticated_orcids.length > 0" 
                                class="table text-left"
                            >
                                <thead class="thead-default">
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>ORCID iD</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let authenticated_orcid of collections.authenticated_orcids; let j = index"
                                        [attr.data-index]="j"
                                    >
                                        <th scope="row">{{j+1}}</th>
                                        <td>{{authenticated_orcid.name}}</td>
                                        <td><a href="{{authenticated_orcid.fullOrcidId}}" target="_blank">{{authenticated_orcid.orcid}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
        <div 
            *ngIf="collections" 
            class="row"
        >
            <div class="col">
                <button (click)="authenticate()" class="btn float-left">Add my iD</button>
                <p class="float-right text-right link-style"><small><a href="{{windowLocationOrigin}}/{{publicKey}}/details/download"><fa  name="download"></fa> Download plain text</a></small></p>
            </div>

        </div>
                    </div>      
            </div>


        </div>
    </div>
</div>
</div>

    
