@import '../../variables';

table {
    text-align: left;
}

/*.btn{
    font: normal 1rem $font-stack;
    background-color: $orcidblue;
    color: $white;
}*/

.btn-primary {  
    margin: 1rem 0 2rem 0;
    font: normal 1.4rem $font-stack;
    padding: .8em 2rem;
}

.card {
    background-color: $gray97;
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem 0;

    h2 {
        font: bold 1.6rem $font-stack;
        color: $white;
        color: $orcidgraydk;
        margin-bottom: 0;
    }

    p {
        color: $white;
        color: $orcidgraydk;
        margin-bottom: .6rem;
    }
  
}

.container{
    text-align: center;

    .lead {
        font:  1.2rem $font-stack;
        color: $orcidgraylt;
    }

    .share-id-icon{
        width: 4rem;
        margin-bottom: .2rem;
        margin-left: -4rem;
    }

    h1 {
        font: bold 3.6rem $font-stack;
        color: $white;
        margin: 0;
    }
}

.row{
    padding: 1rem 0 0 0;
}