@import '../../variables';

.card {
    h2 {
        margin-bottom: 0;
    }

    small{
        font-style: italic;
        line-height: .9rem;
    }

    table {
        margin-top: 1rem;

        td, 
        th {
            border-top: 1px solid #dadada;
        }

        .thead-default th {
            background-color: $gray97;
            border-bottom: 1px solid #dadada;
        }
    }

    .card {
        background-color: $gray97;
    }

    .lg-btn {
        margin-bottom: 1rem;
    }



}