<div class="row">
    <div class="col">
        <p>
            <button (click)="authenticate()" class="btn btn-primary">Add my iD</button>
        </p>
    </div>
</div>
<section class="row">
    <div class="col">
        <div
            *ngIf="collections!=undefined && collections.length > 0" 
            class="card"
        >
            <div 
                *ngFor="let collection of collections"
                class="card-block text-nowrap"
            >
                <h2>{{collection.title}}</h2>
                <p><i>Created by {{collection.createdByAuthor}} on {{collection.createdDate}}</i></p>
                <p>{{collection.description}}</p>

                <table 
                    *ngIf="collection.orcidIDs.length > 0" 
                    class="table"
                >
                    <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>ORCID iD</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let orcidId of collection.orcidIDs; let j = index"
                            [attr.data-index]="j"
                        >
                            <th scope="row">{{j+1}}</th>
                            <td>{{orcidId.firstName}}</td>
                            <td>{{orcidId.lastName}}</td>
                            <td><a href="{{orcidId.orcidId}}" target="_blank">{{orcidId.orcidId}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div *ngIf="collections!=undefined && collections.length > 0" class="row">
    <div class="col">
        <p>
            <button (click)="authenticate()" class="btn btn-primary">Add my iD</button>
        </p>
    </div>
</div>