<div class="row">
    <div class="col">
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Well done!</strong> You successfully added a collection.
        </div>
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <form #formRef="ngForm" (ngSubmit)="submitForm(formRef.value)" >
            <fieldset>
                <legend class="font-weight-bold text-center">ID Collection Details</legend>

                <div 
                    class="form-group" 
                    [class.has-success]="titleRef.valid"
                    [class.has-danger]="titleRef.valid==false && titleRef.dirty"
                ><!-- has-success/has-warning/has-danger -->
                    <label class="form-control-label" for="title">Title</label>
                    <input 
                        [(ngModel)]="title" 
                        #titleRef="ngModel" 
                        class="form-control form-control-success" 
                        id="title" 
                        minlength="4" 
                        name="title" 
                        placeholder="Write the collection title here..." 
                        type="text" 
                        required
                    >
                    <div class="form-control-feedback" *ngIf="titleRef.errors && titleRef.dirty">
                        <small  *ngIf="titleRef.errors?.required">This field is required</small >
                        <small  *ngIf="titleRef.errors?.minlength">This field must be longer than {{titleRef.errors?.minlength.requiredLength}} characters. You only typed {{titleRef.errors?.minlength.actualLength}}</small >
                    </div>
                </div>
                <!--
                <div class="form-group has-danger">
                    <label class="form-control-label" for="textarea-description">Description</label>
                    <textarea class="form-control form-control-danger" id="textarea-description" minlength="4" name="textarea-description" [(ngModel)]="description" placeholder="Add a description for the collection" #descriptionRef="ngModel" required="" rows="5"></textarea>

                    {{descriptionRef.valid}}
                    <div class="form-control-feedback" [hidden]="descriptionRef.valid || name.pristine" class="alert alert-danger">Error!</div>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit" role="button" >Save Details</button>
                </div>
                -->
                {{formRef.value | json}}   
                {{formRef.valid | json}}  

            </fieldset>
        </form>
    </div>
</div>