<div class="row">
    <div class="col">
        <form>
          <fieldset>
            <legend>Id Collection Details</legend>

            <p>
              <label for="input-title">Title</label>
              <input type="text" id="input-title" placeholder="Write the collection title here...">
            </p>

            <p>
              <label for="textarea-description">Description</label>
              <textarea id="textarea-description" rows="5"></textarea>
            </p>


            <p>
              <button class="btn btn-primary" type="submit">Save Details</button>
            </p>

          </fieldset>
        </form>
    </div>
</div>