<div class="row">
    <div class="col">
        <div (click)="showErrorMessage = !showErrorMessage" *ngIf="showErrorMessage" class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </div>
        <div (click)="showSuccessMessage = !showSuccessMessage" *ngIf="showSuccessMessage" class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Well done!</strong> You successfully added a collection.
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <form #formRef="ngForm" (ngSubmit)="submitForm(formRef.value)" novalidate>
            <fieldset>
                <legend class="font-weight-bold text-center">ID Collection Details</legend>

                <div 
                    class="form-group" 
                    [class.has-success]="titleRef.valid"
                    [class.has-danger]="titleRef.valid==false && titleRef.dirty"
                >
                    <label class="form-control-label font-weight-bold" for="title">Title</label>
                    <input 
                        [(ngModel)]="title"
                        [class.form-control-success]="titleRef.valid"
                        [class.form-control-danger]="titleRef.valid==false && titleRef.dirty"
                        #titleRef="ngModel" 
                        autocomplete="off"
                        class="form-control" 
                        id="title" 
                        minlength="4" 
                        name="title" 
                        placeholder="Write the collection title here..." 
                        type="text" 
                        required
                    >
                    <div 
                        *ngIf="titleRef.errors && titleRef.dirty"
                        class="form-control-feedback" 
                    >
                        <small  *ngIf="titleRef.errors?.required">This field is required</small >
                        <small  *ngIf="titleRef.errors?.minlength">This field must be longer than {{titleRef.errors?.minlength.requiredLength}} characters. You only typed {{titleRef.errors?.minlength.actualLength}}</small >
                    </div>
                </div>

                <div 
                    class="form-group" 
                    [class.has-success]="descriptionRef.valid"
                    [class.has-danger]="descriptionRef.valid==false && descriptionRef.dirty"
                >
                    <label class="form-control-label font-weight-bold" for="description">Description</label>
                    <textarea
                        [(ngModel)]="description"
                        [class.form-control-success]="descriptionRef.valid"
                        [class.form-control-danger]="descriptionRef.valid==false && descriptionRef.dirty"
                        #descriptionRef="ngModel" 
                        class="form-control" 
                        id="description" 
                        minlength="4" 
                        name="description" 
                        placeholder="Write the collection description here..." 
                        required
                        rows="5"
                    ></textarea> 
                    <div 
                        *ngIf="descriptionRef.errors && descriptionRef.dirty"
                        class="form-control-feedback" 
                    >
                        <small  *ngIf="descriptionRef.errors?.required">This field is required</small >
                        <small  *ngIf="descriptionRef.errors?.minlength">This field must be longer than {{descriptionRef.errors?.minlength.requiredLength}} characters. You only typed {{descriptionRef.errors?.minlength.actualLength}}</small >
                    </div>
                </div>
                <div class="form-group">
                    <p class="form-control-label font-weight-bold">
                        Created by
                    </p>
                    <p>{{username}}. <a href="{{uri}}" target="_blank">{{uri}}</a></p>
                </div>
                <div class="form-group">
                    <button 
                        [disabled]="!formRef.valid"
                        class="btn btn-primary" 
                        type="submit" 
                        role="button"
                    >
                        Save Details
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-block">
                <h2>Collection Links <small>Hold onto these!</small></h2>
                <p class="font-weight-bold">Administration Link</p>
                <p>Use this link to edit collection details:</p>
                <p><a href="{{windowLocationOrigin}}/{{publicKey}}/edit/{{privateKey}}">{{windowLocationOrigin}}/{{publicKey}}/edit/{{privateKey}}</a></p>
                <p class="font-weight-bold">Share Link</p>
                <p>Share this link with anyone whose iD you want to collect, or display this page on a laptop/tablet at your event:</p>
                <p><a href="{{windowLocationOrigin}}/{{publicKey}}">{{windowLocationOrigin}}/{{publicKey}}</a></p>
            </div>
        </div>
    </div>
</div>