<%include ../components/header.ejs%>
<body class="redirect">
    <div class="container">
        <div class="jumbotron">
            <h1>ORCID connection not completed</h1>
            <p>
            We're sorry that you're not interested in sharing your ORCID iD - we hope you'll reconsider!
            </p>
            <a class="btn btn-primary" href="<%= authorization_uri %>">Try again</a>
            <br>
            <a href="/">No thanks, close this window</a>
        </div>   
    </div>  
 <%include ../components/footer.ejs%>