<%include ../components/header.ejs%>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Share your ORCID&nbsp;iD!</h1>
            <p>
            Click the button to share your ORCID iD and the public name listed on your ORCID record with the event organizers. Don't have an ORCID iD? Click the button to create one now!
            </p>
            </div>
            <!--<p><a class="btn btn-primary popup" id="orcid-button" href="<%- authorization_uri %>">Share my <img src="./img/orcid_scalable.svg" id="id-icon">
            </img></a></p>-->
            <p><a class="btn btn-primary popup" id="share-button"  href="<%- authorization_uri %>">
                    <img id="orcid-id-logo" src="./img/orcid_scalable.svg" width='110' height='110' alt="ORCID logo" /> Share 
            </a></p>
        </div>
        <hr>
        <div class="footer">
            Get the code & learn how to deploy this example locally at: <a https://github.com/ORCID/share-my-id" target="_blank">github.com/ORCID/share-my-id</a>
        </div>
    </div>  
<%include ../components/footer.ejs%>
