<%include ../components/header.ejs%>
<body>
    <div class="container-narrow">
        <div class="jumbotron">
            <h1>Please share your ORCID iD!</h1>
            <p>
            Click the button below to share your ORCID iD and the public name listed on your ORCID record with the conference organizers. 
            </p>
            <p>
            Don't have an ORCID iD yet? Click the button to create one right now!
            </p>
            <div class="checkbox">
                <label><input type="checkbox" name="shareInfo" id="shareInfo" value="">ORCID is free to share my name and ORCID iD in association with this event.</label>
            </div>
            <p><a class="btn btn-primary popup" id="oauth">
                    <img id="orcid-id-logo" src="//orcid.org/sites/default/files/images/orcid_24x24.png" width='24' height='24' alt="ORCID logo" /> Create or connect my ORCID iD
            </a></p>
        </div>
        <div class="footer">
            Get the code & learn how to deploy this example locally at: <a https://github.com/ORCID/orcid-id-to-gdoc" target="_blank">github.com/ORCID/orcid-id-to-gdoc</a>
        </div>
    </div>  
<%include ../components/footer.ejs%>
