<%include ../components/header.ejs%>
 <div class="jumbotron">
      <h2>Thanks <%= body.name %>!</h2>
      <p>
      We've recorded your ORCID iD <br>
      <img src="//orcid.org/sites/default/files/images/orcid_16x16.png" class="logo" width='16' height='16' alt="iD"/> <a href="http://orcid.org/<%= body.orcid %>">http://orcid.org/<%= body.orcid %></a>.
      </p>
      <a class="btn btn-primary" id="close">Close</a>
</div>   
<%include ../components/footer.ejs%>
