<%include ../components/header.ejs%>
<body class="redirect">
    <div class="container">
         <div class="jumbotron">
              <h1>Thanks <br> <%= body.name %>!</h1>
              <p>
              We've recorded your ORCID iD 
              <img src="//orcid.org/sites/default/files/images/orcid_24x24.png" class="logo" width='24' height='24' alt="ORCID iD logo"/> <a href="http://orcid.org/<%= body.orcid %>">http://orcid.org/<%= body.orcid %></a>.
              </p>
              <a class="btn btn-primary" href="/">Close</a>
        </div> 
    </div>  
 <%include ../components/footer.ejs%>