<section class="text-center jumbotron jumbotron-fluid">
    <div class="container">
        <h1><img class="share-id-icon" src="../assets/img/share-id-icon.svg" alt="Share iD icon"> Share My ORCID iD</h1>
        <p class="lead">A simple way to collect authenticated ORCID iDs</p>
            <button (click)="authenticate()" class="btn btn-primary">Create a new iD collection</button>
    </div>
</section>
<div class="container">
    <section class="row">
        <div class="col">
            <h2>What should I do with this thing?</h2>
            <p>Cold-pressed intelligentsia cred, celiac air plant before they sold out hexagon sustainable tacos DIY venmo unicorn retro portland. Unicorn venmo tumeric, williamsburg meditation kinfolk pour-over small batch butcher vinyl. </p>
            <ol>
                <li>Fixie chicharrones glossier, raclette street art typewriter banjo pop-up.</li>
                <li>Hot chicken tofu narwhal single-origin coffee deep v lyft, vexillologist ennui authentic celiac hella.</li>
                <li>Lomo subway tile bespoke, echo park coloring book scenester cardigan roof party franzen.</li>
                <li>Hexagon tousled PBR&B, fanny pack next level paleo yr gastropub. Banh mi listicle 3 wolf moon wolf cronut.</li>
            </ol>
        </div>

    </section>
    <hr>
    <section class="row">
        <div class="col">
            <h2>Why should I be doing this?</h2>
            <p>Microdosing keffiyeh normcore, intelligentsia asymmetrical blog craft beer disrupt swag cred. +1 kickstarter everyday carry, dreamcatcher kombucha cronut biodiesel XOXO snackwave fixie health goth. Mumblecore meditation hexagon readymade shabby chic ennui. Freegan beard fingerstache waistcoat, distillery portland sustainable dreamcatcher meditation man bun vegan disrupt fap health goth williamsburg.</p>
        </div>
    </section>
    <hr>
    <section class="row">
        <div class="col">
            <h2>More things about ORCID stuff</h2>
            <p>Bicycle rights humblebrag master cleanse green juice narwhal letterpress, mumblecore tousled food truck selvage. Air plant man braid glossier franzen.</p>
            <ul>
                <li><a href="#">Fixie chicharrones glossier</a></li>
                <li><a href="#">Hot chicken tofu narwhal</a></li>
                <li><a href="#">Lomo subway tile bespoke</a></li>
            </ul>
        </div>
    </section>
</div>
