
<div class="row">
    <div class="col">    
        <div class="card">
            <div class="card-block">
                <div>
                    <p style="background-color: #f5c120; border-radius: 15px; padding: 10px;"><strong>This functionality is no longer supported and will not be available from Jan 2025. The service is open source with a MIT licence - <a href="https://github.com/ORCID/share-my-id" target="_blank">ORCID/share-my-id</a>. If you have any questions please contact <a href="mailto:support@orcid.org" target="_blank">support@orcid.org</a></strong></p>
                </div>
                <div class="text-center">
                    <button routerLink="/create-smid-email" class="btn btn-primary lg-btn">Create your iD collection</button>
                </div>
                <h2>Three simple steps to collecting authenticated ORCID iDs!</h2>
                <p>Want to collect authenticated ORCID iDs from a group of researchers? Attendees at your next event, perhaps? Everyone in your research group/lab? Or others? Share My iD makes it as simple as 1, 2, 3!</p>
                <ol class="justify-content-center">
                    <li><a routerLink="/create-smid-email">Create a new iD collection</a> (all you need is your own ORCID iD!)</li>
                    <li>Use the Share link to request iDs by email or on a webpage.</li>
                    <li>Visit the Share link to view and download the iDs you've collected.</li>
                </ol>
                <p><strong>Not sure if everyone already has an ORCID iD?</strong> No problem! New users can register for an iD and add it to your collection at the same time.</p>
                <hr />
                <h2>Why authenticated ORCID iDs?</h2>
                <p>ORCID is all about correctly identifying who's who, so it's important that you get the correct iD for each person. No room for typos here! By collecting authenticated iDs - where each user logs into their ORCID account before their details are added to your collection - you can be sure you’re connecting the right person with the right iD. <a href="//orcid.org/blog/2017/02/20/whats-so-special-about-signing" target="_blank" rel="noopener noreferrer">Learn more about authenticated iDs</a></p>
                <hr>
                <h2>Want to do more with ORCID?</h2>
                <p><strong>Share my iD</strong> was built by the folks at ORCID, but it's powered by APIs available to both <a href="//orcid.org/members" target="_blank" rel="noopener noreferrer">ORCID member organizations</a> and freely to the public. You can build your own ORCID-fueled applications to <a href="//members.orcid.org/cc-research-organizations#collect" target="_blank" rel="noopener noreferrer">Collect</a> and <a href="//members.orcid.org/cc-research-organizations#display" target="_blank" rel="noopener noreferrer">Display</a> iDs, and to <a href="//members.orcid.org/cc-research-organizations#connect" target="_blank" rel="noopener noreferrer">Connect</a> and <a href="//members.orcid.org/cc-research-organizations#sync" target="_blank" rel="noopener noreferrer">Synchronize</a> data with ORCID records (members only). <a href="//members.orcid.org/api/about-orcid-apis" target="_blank" rel="noopener noreferrer">Learn more about ORCID APIs</a></p>
                <p><a href="//orcid.org/content/about-orcid" target="_blank" rel="noopener noreferrer">Find out more about ORCID</a> and the <a href="//orcid.org/about/community" target="_blank" rel="noopener noreferrer">ORCID community</a> - and get involved!</p>
            </div>
        </div>
    </div>
</div>