@import '../../variables';

.card .btn-primary {  
    margin: 1rem 0 2rem 0;
    font: normal 1.4rem $font-stack;
    padding: .8em 2rem;
    text-align: center;
}

ol, 
ul {
    text-align: left;

    li {
        margin: 1rem 0;
    }
}

p {
    text-align: left;
}