/* You can add global styles to this file, and also import other style files */
@import 'variables';

/****************************************************
//Global Styles
****************************************************/
* {
    white-space: normal;
    word-break: break-all;
}

a {
    color: $link-font-color-default;
    cursor: pointer;
    text-decoration: none;

    &:active,
    .active {
        color: $link-font-color-active;
        cursor: pointer;
        text-decoration: none;
    }

    &:focus{
        text-decoration: none;
    }

    &:hover {
        color: $link-font-color-hover;
        text-decoration: none;
    }

    &:visited{
        text-decoration: none;
    }

}

body {
    font: normal 100% $font-stack;
    color: $orcidgraydk;
}

button, 
.btn, 
.btn-primary {
    cursor: pointer;
}

h1, 
h2,
legend {
    color: $title-h1-font-color;
    margin-bottom: .8rem;
    word-break: normal;
}

p {
    color: $base-font-color;
    word-break: normal;
}


//Overwrite for bootstrap4 styles
.btn-primary {
    background-color: $button-bck-default;
    border: none;
    color: $button-font-color-default;

    &:active,
    .active {
        background-color: $button-bck-active;
        color: $button-font-color-active;
    }

    &:focus {
        color: $button-font-color-focus;
    }

    &:hover {
        background-color: $button-bck-hover;
        color: $button-font-color-hover;
    }
}

.link-style {
    @extend a;
}

main#content{
    padding-top: 0;
}

.container{
    padding: 0 3rem;
}