/* You can add global styles to this file, and also import other style files */
@import 'variables';

/****************************************************
//Global Styles
****************************************************/
* {
    white-space: normal;
    word-break: normal;
}

a {
    color: $link-font-color-default;
    cursor: pointer;
    text-decoration: none;

    &:active,
    .active {
        color: $link-font-color-active;
        cursor: pointer;
        text-decoration: none;
    }

    &:focus{
        text-decoration: none;
    }

    &:focus,
    &:hover {
        color: $link-font-color-hover;
        text-decoration: none;
    }

    &:visited{
        text-decoration: none;
    }

}

body {
    font: normal 100% $font-stack;
    background-color: $orcidgraydk;
    min-height: 100%;
}

button, 
.btn, 
.btn-primary {
    cursor: pointer;
}

h1, 
h2,
legend {
    color: $title-h1-font-color;
    margin-bottom: .8rem;
    word-break: normal;
}

html{
    height: 100%;
}

main#content{
    padding: 0 0 2rem 0;
    background-color: $orcidgraydk;
}

p {
    color: $base-font-color;
    word-break: normal;
}

//Overwrite for bootstrap4 styles
.btn-primary {
    background-color: $button-bck-default;
    border: none;
    color: $button-font-color-default;

    &:active,
    .active {
        background-color: $button-bck-active;
        color: $button-font-color-active;
    }

    &:focus {
        color: $button-font-color-focus;
    }

    &:hover {
        background-color: $button-bck-hover;
        color: $button-font-color-hover;
    }
}

.card {
    background-color: $white;
    padding: 1rem;
    border-radius: .5rem;
    margin: 1rem 0;

    h1 {
        color: $orcidgraydk;
    }

    h2 {
        text-align: center;
        font: bold 1.6rem $font-stack;
        color: $orcidgraydk;
        margin: 1rem 0;
    }

    p {
        color: $white;
        color: $orcidgraydk;
        margin-bottom: .6rem;
    }

    .lg-btn {  
        margin: 1rem 0 2rem 0;
        font: normal 1.4rem $font-stack;
        padding: .8em 2rem;
    }
  
}

.container{
    text-align: left;
    height: 100%;
    min-height: 100%;
    padding: 0 3rem;

    .lead {
        font:  1.2rem $font-stack;
        color: $orcidgraylt;
        text-align: center;
    }

    .share-id-icon{
        width: 4rem;
        margin-bottom: .2rem;
        margin-left: -4rem;
    }

    h1 {
        font: bold 3.6rem $font-stack;
        color: $white;
        margin: 2rem 0 0 0;
        text-align: center;
    }
}

.link-style {
    @extend a;

}
