
/****************************************************
//Base colors
****************************************************/
$orcidblue: #338CAF;
$orcidgraydk: #494A4C;
$orcidgraymd: #939598;
$orcidgraylt: #C9CACB;
$orcidgreen: #A6CE39;
$gray97: #F7F7F7;
$white: #FFF;


/****************************************************
//Font families
****************************************************/
$font-stack: 'Noto Sans', sans-serif;

/****************************************************
//Font sizes
****************************************************/
$font-size-small: 10px;
$font-size-extra-small: 8px;
$font-size-normal: 12px;
$font-size-big: 16px;
$font-size-huge: 24px;

/****************************************************
//Themes colors
****************************************************/
$bck-default: $orcidgraymd;

$base-font-color: $orcidgraydk;
$title-h1-font-color: $orcidblue;

$input-border-color: $orcidgraymd;
$input-border-width: 1px;

$button-bck-active: $orcidgreen;
$button-bck-default: $orcidblue;
$button-bck-hover: $orcidgreen;
$button-font-color-active: $white;
$button-font-color-default: $white;
$button-font-color-focus: $white;
$button-font-color-hover: $white;

$link-font-color-active: $orcidgreen;
$link-font-color-default: $orcidblue;
$link-font-color-hover: $orcidgreen;